<html>
	<head>
		<title>Crime Predictor</title>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_--yv1R7wr1B_r8Hp5xHLqeQzQ-vkn5g"></script>
		<style>
			html { 
				height: 100% 
			}
  			
  			body { 
  				height: 100%; margin: 0; padding: 0 
  			}
			
			#map-canvas {
				min-width: 100%;
				min-height: 100%;
			}
		</style>
	</head>
	<body>
		<div id="map-canvas"></div>

	
		<script type="text/javascript">
			function initialize() {
		        	var mapOptions = {
		        	center: { lat: 51.481415, lng: -3.178947},
		        	zoom: 8
		        };
		        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		        var latitudes = {{ latitudes|safe }};
		        var longitudes = {{ longitudes|safe }};
		        var crime_type = {{ crime_type|safe }};
		        var markers = new Array();
		        var antisocial_image = new google.maps.MarkerImage(
				    "static/media/antisocial.png",
				    null, /* size is determined at runtime */
				    null, /* origin is 0,0 */
				    null, /* anchor is bottom center of the scaled image */
    				new google.maps.Size(30, 50)
				);
		        for (i = 0; i < latitudes.length; i++) {
		        	var myLatlng = new google.maps.LatLng(latitudes[i],longitudes[i]);
		        	if (crime_type[i] === "Anti-social behaviour"){
		        		markers.push(new google.maps.Marker({
							position: myLatlng,
    						title:crime_type[i],
    						icon:antisocial_image
						}));	
		        	}
		        	else {
			        	markers.push(new google.maps.Marker({
							position: myLatlng,
	    					title:crime_type[i]
						}));
		        	}
		        }
		        for (i = 0; i < markers.length; i++) {
		       		markers[i].setMap(map);
		        }
	      	}
	  		google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</body>
</html>